<!doctype html>
<html ng-app>
 <head>
  <meta charset="UTF-8">
  <script src="../angular/angular.js"></script>
  <style type="text/css">
   .ng-invalid {
    border: 3px solid red;
   }
   .ng-valid{
    border: 3px solid green;
   }
   .ng-pristin{
    border-style: solid;
   }
   .ng-dirty{
    border-style: dashed;
   }
  </style>
 </head>
 <body>
  <form name="sampleForm" ng-init="name = '철수'">
   이름 : <input type="text" name="name" ng-model="name" ng-maxlength="3" ng-required="true">
   핸드폰 번호: <input type="text" name="tel" ng-model="tel" ng-pattern="/^\d{3}-\d{3,4}-\d{4}$/">
  </form>
 </body>
</html>