<!doctype html>
<html ng-app>
  <head>
    <meta charset="UTF-8">
    <script src="../angular/angular.js"></script>
  </head>
  <body>
    <form name="sampleForm" ng-init="value1 = true; value2 = '좋다';">
      선택 1: <input type="checkbox" name="check1" ng-model="value1">
      <br/>
      선택 2: <input type="checkbox" name="check2" ng-model="value2" ng-true-value="좋다" ng-false-value="싫다">
      <br/>
      <p>선택1의 바인딩된 값 :{{value1}}</p>
      <p>선택2의 바인딩된 값 :{{value2}}</p>
     </form>
  </body>
</html>