<!doctype html>
<html ng-app>
 <head>
  <meta charset="UTF-8">
  <script src="../angular/angular.js"></script>
  <script>
   function customerCtrl ($scope) {
    var customerList = [{name:'영희', age:10}, {name:'순희', age:28}];
    var youngCusterList = [];

    angular.forEach(customerList, function(value, key){
     if(value.age < 18){
      youngCusterList.push(value);
     }
    });

    $scope.customerList = customerList;
    $scope.youngCusterList = youngCusterList;
   }
  </script>
 </head>
 <body ng-controller="customerCtrl">
  <div>
   고객 목록
   <ul>
    <li ng-repeat="customer in customerList">
     [{{$index + 1}}] 고객 이름 : {{customer.name}}, 고객 나이 : {{customer.age}}
    </li>
   </ul>
  </div>
  <div>
   18세 미만 고객
   <ul>
    <li ng-repeat="youngCuster in youngCusterList">
     [{{$index + 1}}] 고객 이름 : {{youngCuster.name}}, 고객 나이 : {{youngCuster.age}}
    </li>
   </ul>
  </div>
 </body>
</html>